
/* HEADER */
#homeHeader {
  background: rgb(63, 81, 181)
}

#presentationCard  > * {
  margin: 0px;
  color: white;
}

#presentationCard p {
  color:rgba(255, 255, 255, 0.63);
}

#presentationImage {
  position: absolute;
  left: 10px;
}

#presentationImage img {
  border-radius: 50%;
  max-width: 33%;
}

.icon {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    /*padding: 5px;*/
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icon:hover {
  background: rgb(63, 81, 181)
}

.icon:hover .fab {
  color:rgba(255, 255, 255, 0.63);
}

.fab {
  color:rgb(63, 81, 181)
}

.email-button {
  position: fixed;
  z-index: 999;
  margin-left: 75%;
  background-color:#00BCD4 !important;
  bottom:40px;
}

.submit-button {
  background-color:#00BCD4 !important;
  color:white;
}

#email-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

/* MENU */
.mdl-components .mdl-components__pages {
    display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-components .mdl-components__nav {
    display: inline-block;
    background: #fff;
    width: 250px;
    box-sizing: border-box;
    padding: 10px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
}

.mdl-layout__drawer {
  border-right: none;
}

.menuIcon {
  color:rgb(63, 81, 181);
  text-decoration: none;
  display: block;
  padding: 16px;
}

.menuIcon .fas .fab {
  margin-right: 5px
}

.menu-list {
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-list li {
  display: block !important;
  padding: 0px;
}

.submenu-list li {
  display: block !important;
  padding: 0px;
}

[class="mdl-list__item"]:hover {
  background: rgba(0, 0, 0, 0.05)
}

.active {
  background-color: #00BCD4;
}

/*.active a {
  background-color: #00BCD4;
}*/

.active .menuIcon {
  color: white;
}

.active i {
  color: white;
}

.container-list {
  display: inline-table;
  width: 100%;
}

.submenu-list {
  padding-left: 15px;
  padding-top: 10px;
}

/* CONTENT */
body {
  background-color: #EEE;
}

.mdl-cell {
  background-color: white;
}

.container {
  padding: 15px;
}

/* CARDS */
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/* PORTFOLIO */
.app-sidebar {
  width: 220px;
  /*min-height: 320px;*/
  position: absolute;
  /*min-height: 380px;*/
  height: 100%;
  align-items: center;
  display: flex;
}

.app-devices {
  align-self: normal;
  display: block;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: auto;
  padding-left: 5px;
}

.app-detail {
  margin-left: 230px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.app-images {
  display: contents;
}

.appstore-button {
  max-width: 150px;
  background-color: #dedede;
  text-transform: none;
  position: absolute;
  bottom: 4px;
}

.appstore-button a {
  font-size: 12px;
}

.mdl-card__supporting-text {
  padding: 10px;
}

/*.app-detail i {
  font-size: 1.5em;
}*/

.app-detail strong {
  color: #424242;
}

.app-more-details a {
  float: right;
}

.post {
  /*color: white !important;*/
  min-height: 380px;
}

.post h3 {
  font-weight: bold;
}

.postImage {
  position: absolute;
  /*margin-left: 400px;*/
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 360px;
  /*display: flex;*/
}

/*.post .mdl-chip {
  background-color: red;
}*/

.techSideBar i {
  font-size: 2em;
}

.techContent {
  width:80%;
  margin-left: 15%;
  border-left: 5px solid;
  padding-left: 10px;
}

.techSideBar {
  width:5%;
  /*display: flex;*/
  position: absolute;
}

.mdl-card__chips {
  padding: 15px;
}

/* ABOUT */
.about-card {
  background-color: white;
  padding: 10px;
}

.about-title {
    color: #616161 !important;
}

.about-me-image {
  width: 160px;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/mecard.png");*/
  background-image: url("/assets/img/mecard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
}

.about-me-detail {
  margin-left: 160px;
  padding: 15px;
}

.about-skill-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.about-skill-image .fas {
  margin-top: 50%;
}

.about-skill-detail {
  margin-left: 80px;
  padding: 15px;
}

.about-skill-card {
  position: relative;
}

.about-row {
  display: flex;
}

/*.about-timeline {
  border-left: 4px solid rgb(63, 81, 181);
}*/

/*.mdl-list__item-primary-content {
  border-left: 4px solid #dedede;
  padding-left: 15px;
}*/

.about-timeline .mdl-list__item {
  border-left: 4px solid rgb(63, 81, 181);
  /*border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";*/
}

.about-timeline {
  z-index: 2;
  position: relative;
  margin-left: 10px;
}


.timeline-bubble {
  box-shadow: 0 0 0 3px #3f51b5;
  height: 10px;
  width: 10px;
  content: "";/*! left: -19px; */
  border-radius: 50%;
  margin-left: -22px;
  /*top: 30px;*/
  margin-top: 5px;
  z-index: 3;
  position: absolute;
  background-color: white;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/keyboardbanner.jpg");
  /* Set a specific height */
  height: 104px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  margin-left: 10px;
  /*text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: white;
}

/* MOBILE CSS*/

.mdl-layout__tab-bar-container {
    height: 64px;
}

/* RESOURCES */
.resource-link {
  color: #00BCD4 !important;
  text-decoration: none;
}
