
/*@media only screen and (max-width : 320px) {*/
@media only screen and (min-width : 840px) and (max-width : 1024px) {
  .smallBar {
    width: 100%;
    height: 50px;
    background: rgb(63, 81, 181);
    position: absolute;
  }

  .mdl-layout__content {
    margin-top: 50px;
  }

  .mdl-layout__drawer-button i {
    color: white;
  }

  .smallBarTitle {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-size: large;
  }

  .mdl-button i {
    /*color: white;*/
    /*padding-right: 10px;*/
    font-size: 14px;
  }

  .portfolio-android-button {
    color:black;
    background: #43A047;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
  }

  .portfolio-ios-button {
    color:white;
    background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
  }

}

@media only screen and (max-width : 839px) {

/* Styles */

.mdl-chip__text {
  font-size: 10px;
}

.app-devices {
  max-width: 40%;
}

.mdl-button i {
  /*padding-right: 10px;*/
  color:white !important;
}

.portfolio-android-button {
  color:white !important;
  background: #43A047 !important;
  font-size: 11px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: block;
}

.portfolio-ios-button {
  color:white !important;
  background: #512DA8 !important;
  font-size: 11px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: block;
}

  .smallBar {
    width: 100%;
    height: 50px;
    background: rgb(63, 81, 181);
    position: absolute;
  }

  .mdl-layout__content {
    margin-top: 50px;
  }

  .mdl-layout__drawer-button i {
    color: white;
  }

  .smallBarTitle {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-size: large;
  }

  .about-me-image {
    width: 100%;
    max-width: 263px;
    height: 40%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .about-me-detail {
    margin-left: 0px;
    min-height: 560px;
  }

  .about-me {
    display: flex !important;
  }

  .mdl-list__item--three-line {
    height: 110px;
  }

  .about-row {
    display: contents;
  }

  /* Portfolio */
  .app-detail {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:: 10px;
    margin-top: 340px;
  }

  .app-sidebar {
    width: 100%;
    height: 330px;
  }

  .app-devices {
    align-self: center;
  }

  .postImage {
    height: 290px;
    width: 160px;
    margin: auto;
    display: block;
    padding-top: 10px;
    position: unset;
  }

}
