  <br>
  <div class="mdl-layout__header-row">

    <div id="presentationImage">
       <img src="/assets/img/mephoto.jpg">
    </div>
    <div id="presentationCard" >
      <h6>Alfonso Palacios</h6>
      <p>Mobile App Developer</p
      <br>
      <div>
        <a class="icon" target="_blank" href="https://www.linkedin.com/in/alfonso-palacios-43015993/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="icon" target="_blank" href="">
          <i class="fab fa-twitter"></i>
        </a>
        <!--<a class="icon" target="_blank" href="">
          <i class="fab fa-youtube"></i>
        </a>-->
      </div>
    </div>

  </div>
  <br>
