<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/smallmain.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="css/magnific-popup.css">

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="js/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $('.app-more-details').each(function() { // the containers for all galleries
      $(this).magnificPopup({
        delegate: 'a',
        type:'image',
        gallery:{
          enabled:true
        }
      });
    });

    $('.app-images').each(function() { // the containers for all galleries

      $(this).magnificPopup({
          delegate: 'a',
          type:'image',
          gallery:{
            enabled:true
          }
      });
    });

    $('.email-button').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });

    $(".page-content").on("swipe",function(){
      $('.mdl-layout__drawer-button').trigger('click');
    });

  });

</script>
