  <ul class="menu-list">
    {% if page.url == "/" %}
    <li class="mdl-list__item active">
    {% else %}
    <li class="mdl-list__item">
    {% endif %}
      <a class="menuIcon" href="/">
        <i class="fas fa-user-alt"></i>
        About me
      </a>
    </li>
    <li class="mdl-list__item container-list">
      <a class="menuIcon">
        <i class="fas fa-briefcase"></i>
        Portfolio
      </a>
      <ul class="submenu-list">
        {% if page.url == "/portfolio-android.html" %}
        <li class="mdl-list__item active">
        {% else %}
        <li class="mdl-list__item">
        {% endif %}
          <a class="menuIcon" href="/portfolio-android.html">
            <i class="fab fa-android"></i>
            Android
          </a>
        </li>
        {% if page.url == "/portfolio-ios.html" %}
        <li class="mdl-list__item active">
        {% else %}
        <li class="mdl-list__item">
        {% endif %}
          <a class="menuIcon" href="/portfolio-ios.html">
            <i class="fab fa-apple"></i>
            iOS
          </a>
        </li>
        <li class="mdl-list__item">
          <a class="menuIcon" href="portfolio-otherwork.html">
            <i class="fas fa-mobile-alt"></i>
            Other apps
          </a>
        </li>
        <!--<li class="mdl-list__item">
          <a class="menuIcon" target="_blank" href="">
            <i class="fab fa-sketch"></i>
            Prototypes
          </a>
        </li>-->
      </ul>

    </li>
    <!--<li class="mdl-list__item">
      <a class="menuIcon" target="_blank" href="">
        <i class="fas fa-book-open"></i>
        Blog
      </a>
    </li>-->
    {% if page.url == "/resources.html" %}
    <li class="mdl-list__item active">
    {% else %}
    <li class="mdl-list__item">
    {% endif %}
      <a class="menuIcon" href="resources.html">
        <i class="fas fa-laptop-code"></i>
        Resources
      </a>
    </li>
    <!--<li class="mdl-list__item">
      <a class="menuIcon" target="_blank" href="">
        <i class="fas fa-thumbs-up"></i>
        Recommended apps
      </a>
    </li>-->
  </ul>
