<div class="post mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--6-col-tablet  mdl-cell--12-col-phone" >
  <div class="app-sidebar" style="background-color:{{post.color}}">

    <div class="app-devices">
      {% for device in post.devices %}
      <span class="mdl-chip mdl-chip--contact">
        {% assign lowercase_device = device | downcase %}
        {% if lowercase_device == "ipad" %}
          <span class="mdl-chip__action"><i class="fas fa-tablet" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% elsif lowercase_device == "web" %}
            <span class="mdl-chip__action"><i class="fas fa-globe-americas" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% elsif lowercase_device == "windows" %}
            <span class="mdl-chip__action"><i class="fab fa-windows" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% elsif lowercase_device == "mac" %}
            <span class="mdl-chip__action"><i class="fab fa-apple" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% elsif lowercase_device == "blackberry" %}
            <span class="mdl-chip__action"><i class="fab fa-blackberry" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% elsif lowercase_device == "java me" %}
          <span class="mdl-chip__action"><i class="fab fa-java" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% else %}
          <span class="mdl-chip__action"><i class="fas fa-mobile" style="font-size:1.5em; color:{{post.color}}; cursor:auto;" ></i></span>
        {% endif %}

        <span class="mdl-chip__text" style="color:{{post.color}}">{{device}}</span>
      </span>
      {% endfor %}

      {% if post.appstorelink %}
      <div class="app-store">
        <a class="appstore-button mdl-button mdl-js-button" href="{{post.appstorelink}}" style="color:{{post.color}} !important; background:white !important;" target="_blank">
        <i class="fab fa-app-store" style="color:{{post.color}}"></i> View on AppStore</a>
        <br />
      </div>
      {% endif %}
      <!-- ToDo playstorelink -->

    </div>
    <div class="app-images">
    {% if post.tabletLayout == true %}
      <a class="postImage" href="{{ post.cardImage | prepend:'/assets/img/posts/'}}" style="width: 200px; height: 150px; background: url('{{ post.cardImage | prepend:'/assets/img/posts/'}}') center/cover;"></a>
    {% elsif post.oldDeviceLayout == true %}
      <a class="postImage" href="{{ post.cardImage | prepend:'/assets/img/posts/'}}" style="width: 200px; height: 270px; background: url('{{ post.cardImage | prepend:'/assets/img/posts/'}}') center/cover;"></a>
    {% else %}
      <a class="postImage" href="{{ post.cardImage | prepend:'/assets/img/posts/'}}" style="background: url('{{ post.cardImage | prepend:'/assets/img/posts/'}}') center/cover;"></a>
    {% endif %}

    {% for image in post.images %}
      <a href="/assets/img/posts/{{image}}"></a>
    {% endfor %}
    </div>
  </div>
  <div class="app-detail">
    <h1 class="mdl-card__title-text" style="color:{{post.color}}">{{ post.title }}</h1>
    <div class="mdl-card__supporting-text">
      <span style="color:{{post.actioncolor}}">Year - {{ post.date | date: "%Y" }}</span>
      <div class="postEntry">{{ post.excerpt }}</div>

      {% if post.techtags %}
      <div>
        <div class="techSideBar">
          <i class="fas fa-microchip" style="color:{{post.color}}"></i>
          </div>
          <div class="techContent" style="border-color:{{post.color}}">
            <strong>Technologies</strong>
            <br />
            {% for tag in post.techtags %}
            <span class="mdl-chip" style="background-color:{{post.actioncolor}}; color:white;">
            <span class="mdl-chip__text">{{tag}}</span>
            </span>
            {% endfor %}
          </div>
      </div>
      {% endif %}


      {% if post.androidtags or post.iostags %}

      <div>
        <br />
        <div class="techSideBar">
          {% if post.categories contains "android" %}
          <i class="fab fa-android" style="color:{{post.color}}"></i>
          {% elsif post.categories contains "ios" %}
          <i class="fab fa-apple" style="color:{{post.color}}"></i>
          {% endif %}
        </div>
        <div class="techContent" style="border-color:{{post.color}}">
          <strong>Platform tech</strong>
          <br />
          {% if post.categories contains "android" %}

          {% for tag in post.androidtags %}

          <span class="mdl-chip" style="background-color:{{post.actioncolor}}; color:white;">
          <span class="mdl-chip__text">{{tag}}</span>
          </span>
          {% endfor %}

          {% elsif post.categories contains "ios" %}

          {% for tag in post.iostags %}
          <span class="mdl-chip" style="background-color:{{post.actioncolor}}; color:white;">
          <span class="mdl-chip__text">{{tag}}</span>
          </span>
          {% endfor %}

          {% endif %}

        </div>
      </div>
      {% endif %}

    </div>
    <div class="app-more-details">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect postDetail"
      href="{{ post.cardImage | prepend:'/assets/img/posts/'}}" style="background:{{post.color}} !important; color:white !important;">
        View more
      </a>
      {% for img in post.images %}
        <a href="/assets/img/posts/{{img}}"></a>
      {% endfor %}
    </div>
  </div>

</div>
