<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>


  <body>
    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">

    <div class="mdl-layout__drawer">
      <div id="homeHeader">
      {% include header.html %}
      </div>
      {% include menu.html %}
    </div>

    <div class="mdl-layout--small-screen-only smallBar">
      <div class="smallBarTitle">
        My Portfolio
      </div>
    </div>

    <main class="mdl-layout__content">

      <div id="email-popup" class="mfp-hide">
        <form action="https://formspree.io/apalaciositc@gmail.com" method="POST" id="contact-form">
          <h4>Contact me</h4>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="nameField" name="name">
            <label class="mdl-textfield__label" for="nameField">Your name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="emailField" name="_replyto">
            <label class="mdl-textfield__label" for="emailField">Your email</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="subjectField" name="subject">
            <label class="mdl-textfield__label" for="subjectField">Subject</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="15" id="messageField" name="message"></textarea>
            <label class="mdl-textfield__label" for="messageField">Message</label>
          </div>
          <br />
          <input type="submit" class="submit-button mdl-button mdl-js-button mdl-button--raised" value="Send">
        </form>
      </div>

      <div class="page-content"><!-- Your content goes here -->

        <button class="email-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored" data-mfp-src="#email-popup">
          <i class="fas fa-envelope"></i>
        </button>
        <!--  if page.type == 'postList' or page.type == 'aboutPage' -->
        {% if page.type == 'aboutPage' %}
        <div class="mdl-cell--10-col container">
          {{ content }}
        </div>
        {% elsif page.type == 'postList' %}
        <div class="mdl-grid">
          {{ content }}
        </div>
        {% else %}
        <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp container">
          {{ content }}
        </div>
        {% endif %}
      </div>

      <!--{#% include footer.html %}-->
    </main>



  </div>

  {% include bottom.html %}


  </body>


</html>
